body{

background:linear-gradient(#ffd6e7,#fff);

text-align:center;

font-family:sans-serif;

overflow:hidden;

}

h1{

color:#ff2e7a;

font-size:45px;

margin-top:20px;

}

#mainImage{

width:80vw;
max-width:700px;
height:60vh;

object-fit:contain;

border-radius:20px;

animation:bloom 2s ease-out, float 3s ease-in-out infinite;

transition:0.5s;


}

video{

position:fixed;

bottom:20px;

right:20px;

width:200px;

border-radius:10px;
transform: scaleX(-1);   /* mirror */


}

/* hoa nở */

@keyframes bloom{

0%{

transform:scale(0.2);

opacity:0;

}

100%{

transform:scale(1);

opacity:1;

}

}

/* hoa lắc */

@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-10px);

}

100%{

transform:translateY(0);

}

}

/* cánh hoa */

.petal{

position:absolute;

top:-10px;

font-size:25px;

animation:fall linear;

}

@keyframes fall{

0%{

transform:translateY(0);

}

100%{

transform:translateY(100vh);

}

}